@import "tailwindcss";

:root {
  --background: linear-gradient(90deg, rgba(244,213,151,0.75) 35%, rgba(254,207,129,0.75) 100%);
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--googleFont), Helvetica, sans-serif;
}

.clip-circle {
  -webkit-clip-path: circle(0% at calc(100% - 2.5rem) 2.5rem);
  clip-path: circle(0% at calc(100% - 2.5rem) 2.5rem);
}
